body{
    background-image: url('/images/fon1.png');
}
  
.header-name{
    font-family: 'Indie Flower';
    font-size: 50px;
font-weight: 500 ;
    text-align: center;
    color: #000000;
}
.n2{
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    margin-left: 200px;
    margin-top: -30px;
}
.logo img{
    height: 150px;
    float: right;
    margin-top: -115px;
    margin-right: 170px;
}
.clear{
clear: both;
}
.dws-menu *{
    margin: 0;
    padding: 0;
   }
   .dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
   }
   .dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
   }
   .dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
   }
   .dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
   }
   .dws-menu > ul li a{
    display: block;
  
    background: rgb(201,201,201); 
    background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); 
    background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */
   
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
   }
   .dws-menu li a:hover{
    
    background: rgb(224,225,229); 
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); 
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
   
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   
 
   .dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }
.h3{
    height: 20px;
    width: 100%;
    background-color: #000000;
    margin-top: 45px;
}
.images{
    width: 1000px;
}
  .images  img{
    height: 400px;
    width: 300px;
    margin-left: 50px;
    margin-top: 50px;
    
  }
  .images{
    display: flex;
    flex-direction: column;
 

  }
  .imgg > a > img{
    border: 1px solid black;
  }
  .box1,.box2{
    display: flex; margin-left: 150px;
  }
 
  .img2 > a > img,.img5 > a > img{
    height: 250px;
    width: 300px;
  }
.img5 > a > img{
    margin-top: -95px;

}

.img7 > a > img{
    margin-left: 550px;
    height: 250px;
    width: 300px;
    margin-top: -350px;
}
.imgg > a > img:hover{
    opacity: 0.6;
    transition: all 0.5s;
}
.akanjox img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
.arrow-top{
    float: right;
    margin-right: 50px;
    font-size: 20px;
  ;
    margin-top: -50px;
}
.arrow-top > a{
    font-size: 40px;
      color: #000000
}
.info{
    text-align: center;
}
button{
    width: 100px;
    height: 25px;
    background-color: #000000;
    color: #ffffff;
}